:root {
    --text-color: #9e9aa8; 
    --accent-color: #34313d;
    --white-color: #fff;
    --button-color: #2bd0d0;
    --error-color: #f46363;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body { 
    display: flex;
    flex-direction: column;
    font-family: "Poppins", "Arial" , sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    font-size: 15px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button-link {
    background-color: var(--button-color);
    color: var(--white-color);
    padding: 9px 23px 8px 24px;
    border-radius: 28px;
    text-decoration: none;
    transition: 0.3s ease;
    white-space: nowrap;
}

.button-link:hover {
    opacity: 0.9;
}

.button-link:active {
    opacity: 0.8;
}

/* CSS AUTOFILL */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* PLACEHOLDER */
::placeholder { 
    color: rgba(52, 49, 61 , 0.5);
}

:-ms-input-placeholder {
    color: rgba(52, 49, 61 , 0.5);
}

::-ms-input-placeholder { 
    color: rgba(52, 49, 61 , 0.5);
}

/* Site-Header */
.site-header {
    background-color: var(--white-color);
    padding-top: 48px;
    padding-bottom: 78px;
    display: flex;
    align-items: center;
}

.site-header__img {
    margin-right: 45px;
    display: inline;
}

.site-header__logo {
    width: 120px;
    height: 32px;
    display: block;
    transition: 0.2s ease;
}

.site-header__logo:hover {
    opacity: 0.8;
}

.site-header__logo:active {
    opacity: 0.6;
}

.sitenav {
    color: var(--text-color);
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.sitenav__link {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s ease;
}

.sitenav__link:hover {
    color: var(--accent-color);
}

.sitenav__item:not(:last-child) {
    margin-right: 29px;
}

.login__link {
    color: var(--text-color);
    margin-right: 37px;
    text-decoration: none;
}

/* Hero */
.hero {
    background-color: var(--white-color);
    padding-top: 78px;
    padding-bottom: 252px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero-section {
    position: relative;
    margin-right: auto;
}

.hero__heading {
    color: var(--accent-color);
    font-size: 80px;
    line-height: 90px; 
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 5px;
}

.hero__text {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-top: 0;
    margin-bottom: 38px;
}

.hero__link {
    padding: 14px 40px 12px;
    color: var(--white-color);
    font-size: 20px;
}

.hero__png {
    position: absolute;
    right: -166px;
}

.hero-img {
    width: 733px;
    height: 482px;
    display: block;
}

/* FORM */
.feature__form {
    margin-top: -84px;
    display: flex;
    align-items: center;
    background-color: #3a3054;
    border-radius: 10px;
    background-image: url(../img/feature\ input\ bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 52px 64px;
    margin-bottom: 24px;
}

.feature__input-wrapper {
    position: relative;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.feature__input {
    display: block;
    padding: 14px 615px 14px 32px;
    border: 3px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(52, 49, 61 ,);
    font-weight: 500;
    line-height: 36px; 
    letter-spacing: 0.15px;
}

.feature__error {
    display: none;
}

.feature__button {
    border: 0;
    font-size: 20px;
    border-radius: 10px;
    padding: 24px 40px 21px 41px;
}

.feature__input:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--error-color);
    color: rgba(244, 99, 99 , 0.5);
}

.feature__input:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
}

.feature__input:not(:focus):not(:placeholder-shown):invalid ~ .feature__error {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    color: var(--error-color);
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px; 
    letter-spacing: 0.109px;
}

.feature-url__results {
    display: none;
}

.feature-url__results--open {
    display: block;
}

.feature-url__results-inner {
    display: flex;
    align-items: center;
    padding: 16px 24px 16px 32px; 
    background-color: var(--white-color);
    border-radius: 5px;
}

.feature-url__results-inner:not(:last-child) {
    margin-bottom: 16px;
}

.feature-url__result {
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px; 
    letter-spacing: 0.15px;
    width: 100%;
}

.feature-url__link {
    text-decoration: none;
    color: #2bd0d0;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px; 
    letter-spacing: 0.15px;
    margin-right: 24px;
}

.feature-url__link:hover {
    text-decoration: underline;
}

.feature-url__button {
    min-width: 103px;
    color: var(--white-color);
    padding: 10px 31px 7px 31px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

/*Feature */
.feature {
    background-color: #eff1f7;
    padding-bottom: 100px;
}

.feature__wrapper {
    margin-top: 284px;
}

.feature__heading {
    color: var(--accent-color);
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 18px;
}

.feature-text {
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    letter-spacing: 0.123px;
    margin-top: 0;
    margin-bottom: 56px;
}